---
title: Home
template: default
---

{% assign feature = site.posts.first %}

    {% if feature.photo-url %}
    <p class="feature-image">
        <img src="{{ feature.photo-url }}" alt="feature.title" />
        {% if feature.photo-credit %}
        <em>Photo credit: <a href="{{ feature.photo-credit-url }}" title="{{ feature.photo-credit-alt }}">{{ feature.photo-credit }}</a></em>
        {% endif %}
    </p>
    {% endif %}

    {{ feature.content }}

<section class="social">

</section>

<section class="more-posts">
<h3>More posts</h3>

{% for posts in site.posts offset:1 limit:3 %}
    <div class="featured-post">
    <p><a href="{{ posts.url }}" title="{{ posts.title }}"><img src="{{ posts.photo-url }}" title="{{ posts.photo-title }}" alt=" {{ posts.photo-title }}" /></a></p>
    <h4><a href="{{ posts.url }}" title="{{ posts.title }}">{{ posts.title }}</a></h4>
    </div>
{% endfor %}
</section>
