---
title: User experience, design and leadership musings by Andrew Todd
template: default
---

{% assign feature = site.posts.first %}

    {% if feature.photo-url %}
    <p class="feature-image">
        <img src="{{ feature.photo-url }}" alt="{{ feature.photoTitle }}" title="{{ feature.photoTitle }}" />
        {% if feature.photoCredit %}
        <em>Photo credit: <a href="{{ feature.photoCreditUrl }}" title="{{ feature.photoCreditAlt }}">{{ feature.photoCredit }}</a></em>
        {% endif %}
    </p>
    {% endif %}

    {{ feature.content }}

<section class="more-posts">
<h3>More posts</h3>

{% for posts in site.posts offset:1 limit:3 %}
    <div class="featured-post">
    <p><a href="{{ posts.url }}" title="{{ posts.title }}"><img src="{{ posts.photo-url }}" title="{{ posts.photoTitle }}" alt=" {{ posts.photoTitle }}" /></a></p>
    <h4><a href="{{ posts.url }}" title="{{ posts.title }}">{{ posts.title }}</a></h4>
    </div>
{% endfor %}
</section>
