<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <script src="" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    
    <div id="header">
    <header class="site-header">
        <nav role="navigation">
            <div class="screen-reader-text"><a href="#content" title="Skip to main content">Skip to main content</a></div>
            <div id="navmain">
                <ul class="menu">
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="/about">About</a></li>
                    <li class="menu-item"><a href="/archive">Archive</a></li>
                </ul>
            </div>
        </nav>
        <h1 class="pagehead">drwtod.com</h1>
    </header>
    </div>

    <div id="content" role="main">
    <article>
        <header><h1>{{ page.title }}</h1></header>
        {{ content }}
    </article>
    </div>
</div>
</body>
</html>